#main .ui-table-custom td{
	vertical-align:middle;
	border-bottom:0px;
	padding:10px 20px;
}
#main .ui-table-custom{
	/* border-bottom: 1px solid #DDD; */
}
.bl-article-photo{
	padding:5px;border: 1px solid #CACACA;margin-top: 20px;box-shadow:1px 1px 3px #D8D8D8;display: table-cell;vertical-align: middle;
}
.bl-article-loading{
	width:295px;height:295px;background-position: center;background-repeat: no-repeat;text-align: center;
}
.bl-article-loading span{
	line-height: 350px;font-weight: bold;
}