<link type="text/css" rel="stylesheet" href="modules/css/userinfo/userinfo-special.css" media="screen" />
<script type="text/javascript" src="modules/script/userinfo/userinfo-special.js"></script>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票</span>&nbsp;&nbsp;<a href="#">婚后，你会一直带着戒指么？</a></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票:</span></div>
	<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
	<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票:</span></div>
	<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
	<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票:</span></div>
	<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
	<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票:</span></div>
	<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
	<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票:</span></div>
	<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
	<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票:</span></div>
	<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
	<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>