<link type="text/css" rel="stylesheet" href="modules/css/userinfo.css" media="screen" />
<script type="text/javascript" src="modules/script/userinfo.js"></script> 
<div class="body">
	<div class="bl-userinfo-title">
		<div class="float" style="width:106px;">
			<div class="bl-userinfo-photo" style="padding:5px;">
				<img width="95" height="95" src="stylesheet/img/120_0_0.gif">
			</div>
			<div class="clear"></div> 
			<div style="margin-top:5px;"><a style="float: left;" href="#">换头像</a><a style="float:right;" href="#">改资料</a></div>
		</div>
		<div class="bl-userinfo-person-frame">
			<div class="bl-userinfo-person-content">
				<span class="title bold">官瑞林</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="title">正在冬眠中...</span>
			</div>
			<div id="sign-body" class="bl-userinfo-person-content bl-userinfo-sign" >
				<textarea id="sign" class="" defaultMsg="说点什么" style="height:40px;"></textarea><div class="triangle bl-userinfo-triangle"></div>
				<div id="sign-bottom" class="bl-userinfo-person-content bl-userinfo-sign-bottom" style="padding-left:0px;width:673px;display:none;">
					<input type="button" id="sign-submit" value="发表" style="float:right;"/><div class="clear"></div> 
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="frame bl-userinfo-msg-frame">
		<div class="float"><span>短消息</span>:&nbsp;&nbsp;<a class="link" href="#">0 条新</a></div><div class="float"><span>留言</span>:&nbsp;&nbsp;<a class="link" href="#">0 条新</a></div><div class="float"><span>系统消息</span>:&nbsp;&nbsp;<a class="link" href="#">0 条新</a></div><div class="clear" style="height:0px;"></div>
	</div>
	<div id="userinfo-tabs" style="margin-top:20px;">
		<ul>
			<li><a href="#tabs-1">全部动态</a></li>
			<li><a href="modules/view/userinfo/userinfo-friend.html">好友动态</a></li>
			<li><a href="modules/view/userinfo/userinfo-special.html">特别好友</a></li>
		</ul>
		<div id="tabs-1">
			<div class="frame-content-bottom">
				<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票</span>&nbsp;&nbsp;<a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
			</div>
			<div class="frame-content-bottom">
				<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票:</span></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
			</div>
			<div class="frame-content-bottom">
				<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票:</span></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
			</div>
			<div class="frame-content-bottom">
				<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票:</span></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
			</div>
			<div class="frame-content-bottom">
				<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票:</span></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
			</div>
			<div class="frame-content-bottom">
				<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票:</span></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
			</div>
			<div class="frame-content-bottom">
				<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票:</span></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
			</div>
			<div class="frame-content-bottom">
				<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票:</span></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
			</div>
			<div class="frame-content-bottom">
				<div class="bl-userinfo-content-row"><a href="#">池胜余</a>&nbsp;<span>参与了投票:</span></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row section"><a href="#">婚后，你会一直带着戒指么？</a></div>
				<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
			</div>
		</div>
	</div>
</div>