<link type="text/css" rel="stylesheet" href="modules/css/article.css" media="screen" />
<link type="text/css" rel="stylesheet" href="lib/ui/css/base/jquery.ui.selectmenu.css" media="screen" />
<link type="text/css" rel="stylesheet" href="lib/swfupload/default.css" media="screen" />
<link rel="stylesheet" href="lib/plugin/jcrop/jquery.jcrop.css" type="text/css" />
<link rel="stylesheet" href="lib/kindeditor/themes/default/default.css" type="text/css" />
<script type="text/javascript" src="lib/ui/js/jquery.ui.selectmenu.js"></script>
<script type="text/javascript" src="lib/swfupload/swfupload.js"></script>
<script type="text/javascript" src="lib/swfupload/handlers.js"></script> 
<script type="text/javascript" src="lib/plugin/jcrop/jquery.jcrop.min.js" ></script>
<script type="text/javascript" src="lib/plugin/jquery.validate.js"></script>
<script type="text/javascript" src="modules/script/article.js"></script> 
<!-- <script type="text/javascript" src="lib/plugin/jquery.combobox.js"></script> -->
<!-- <script type="text/javascript" src="lib/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="lib/kindeditor/lang/zh_CN.js"></script> -->
<div id="dialog-upload" style="display: none;" title="<span style='padding:3px 0;float:left;'>上传图片</span>">
	<div class="flash" id="fsUploadProgress" style="display:none;"></div>
	<div style="padding-left: 5px;padding-bottom: 10px;">
		<span id="spanButtonPlaceholder"></span> <input id="btnCancel"
			type="button" value="取消" onclick="cancelQueue(upload);"
			disabled="disabled"
			style="margin-left: 2px; height: 22px; font-size: 8pt;display: none;" />
	</div>
	<div class="bl-article-photo" id="bl-article-head" style="text-align: center;display:none;">
		<div class="loading bl-article-loading" id="bl-article-loading" style="display: none;"><span id="update-loading"></span></div>
	</div>
</div>
<div class="body">
	<div id="article-tabs" style="margin-top:20px;">
		<ul>
			<li><a href="#tabs-1">新文章</a></li>
			<li><a href="modules/view/article/article-query.html">查询</a></li>
			<li><a href="modules/view/friend/friend-invite.html">修改</a></li>
		</ul>
		<div id="tabs-1">
			<form class="ui-form" id="article-add-form" action="article-add.do" method="get">
				<table class="ui-table-custom" id="article-form" style="margin-top:35px;">
					<!-- tr>
						<td align="right">日期:</td><td><input id="articledate" type="text" class="ui-input" style="width:227px;" /></td>
					</tr> -->
					<tr>
						<td align="right">类别:</td>
						<td>
							<select id="type" name="type" style="width:225px;">
							</select>
						</td>
					</tr>
					<tr>
						<td align="right">标题:</td><td><input id="title" name="title" type="text" class="ui-input" validate="default" isnull=true maxlength="50" minlength="0" style="width:600px;" placeholder="请输入文章标题"/></td>
					</tr>
					<tr>
						<td align="right">标签:</td><td><input id="tag" name="tag" type="text" class="ui-input" validate="default" isnull=true maxlength="200" minlength="0" style="width:600px;" placeholder="请输入标签,多标签','隔开"/></td>
					</tr>
					<tr>
						<td align="right">首图:</td>
						<td>
							<div class="bl-article-photo" id="article-photo" style="text-align: center">
								<img style="cursor: pointer;" src="stylesheet/img/question-mark.png" id="article-photo-info" >
							</div>
						</td>
					</tr>
					<tr>
						
						<td colspan="2">
							<textarea id="articlecontent" name="articlecontent" style="visibility: hidden;width:700px;height:400px;"></textarea>
						</td>
					</tr>
					
					<tr>
						<td></td>
						<td><input type="button" id="submitarticle" value="提交文章"/></td>
					</tr>
					<tr style="height:150px;">
						<td></td>
						<td></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
