<link type="text/css" rel="stylesheet" href="stylesheet/css/main.css" media="screen" />
<link type="text/css" rel="stylesheet" href="stylesheet/css/pagefoot.css" media="screen" />
<link type="text/css" rel="stylesheet" href="lib/ui/css/smoothness/jquery-ui-custom.css" media="screen" />
<script type="text/javascript" src="lib/ui/js/jquery.min.js"></script>
<script type="text/javascript" src="lib/ui/js/jquery.ui.custom.min.js"></script>
<script type="text/javascript" src="lib/common.js"></script>