<link type="text/css" rel="stylesheet" href="stylesheet/css/main.css?v=1.0" media="screen" />
<link type="text/css" rel="stylesheet" href="stylesheet/css/pagefoot.css?v=1.0" media="screen" />
<link type="text/css" rel="stylesheet" href="lib/ui/css/smoothness/jquery-ui-custom.css?v=1.0" media="screen" />
<script type="text/javascript" src="lib/ui/web/jquery.min.js?v=1.0"></script>
<script type="text/javascript" src="lib/ui/web/jquery.ui.custom.min.js?v=1.0"></script>
<script type="text/javascript" src="lib/common.js?v=1.0"></script>