.ui-input{
	padding:4px;
	margin-top:2px;
}
.ui-input-search{
	border:1px solid #BFBFBF;
	background:url(../img/sear_icon.png) no-repeat 6px center; 
	padding-left:20px;
}
.ui-input-search input{
	border:0px;
}