a{
	color: #3366CC;
}
.link{
	text-decoration: none;
	color: #8692A2;
}
.link:hover{
	color:#336699;
}
.link-none{
	text-decoration: none;
}
.body{
	width:100%;
	/* height:700px; */
	padding: 15px 0;
}
.title{
	font-size: 15px;
	line-height:20px;
}
.bold{
	font-weight: bold;
}
.triangle{
	background:url("../img/hp_pbar.png");
	width:6px;
	height:9px;
}
.default-msg{ 
	color:#9A9A9A;
}
.float-left, .float{
	float:left;
}
.float-right{
	float:right;
}
.frame{
	background-color:#FBFBFB;
	border: 1px solid #EEEEEE;
}
.frame-content-bottom{
	padding:10px;
	border-bottom: 1px solid #CAD0DB;
}
.grey{
	color:#999999;
}
.section{
	text-indent: 25px;
}
.ui-input{
	height:22px;
	margin-top:2px;
}
.ui-input-search{
	border:1px solid #BFBFBF;
	background:url(../img/sear_icon.png) no-repeat 6px center; 
	padding-left:20px;
}
.ui-input-search input{
	border:0px;
}
.selected{
	background-color: #F4F4F4;
}
.close{
	background:url("../img/close_8-1.png") no-repeat;
	height: 8px;
	width: 8px;
	display: block;
}
.close:hover{
	background:url("../img/close_8-1.png") no-repeat -8px;
}