.life-right-title{
	padding: 5px;
}
.life-right-font{
	font-size: .8em;
	padding-left:5px;
}
.life-right-left-cell{
	margin-left:30px;
	width:15% !important;
}
.life-right-right-cell{
	margin-left:10px;
}