/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.frame-cell{
	text-align: center;
}
.frame-bottom{
	border-bottom:1px solid #B5A79C;
}
.frame-top{
	border-top:1px solid #B5A79C;margin-top:1px;padding-top:1px;
}
.frame-body{
	position:absolute;bottom:0;z-index:10;left:0;width:100%;height:50%;opacity:.75;
}
.body{
	-webkit-border-image: url("../images/background.png") 10 10 10 10 stretch stretch;
	height:100%;
	width:100%;
}
.frame-select{
	-webkit-border-image: url("../images/main/box_red.png") 10 10 10 10 stretch stretch;border-width: 10px;-webkit-box-sizing: border-box;
}
.frame-state{
	position:absolute;bottom:0;left:20px;
}