<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  	http://www.springframework.org/schema/aop 
  	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
  	http://www.springframework.org/schema/tx 
  	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
  	<!-- DAO部份 -->
  	<bean id="DayClearChkDAO" class="com.hrm.dao.DayClearChkDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserInfoDAO" class="com.hrm.dao.UserInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RoleInfoDAO" class="com.hrm.dao.RoleInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="MenuLevelStairDAO"
		class="com.hrm.dao.MenuLevelStairDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="MenuLevelBinaryDAO"
		class="com.hrm.dao.MenuLevelBinaryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RoleMenuStairDAO"
		class="com.hrm.dao.RoleMenuStairDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="RoleMenuBinaryDAO"
		class="com.hrm.dao.RoleMenuBinaryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="EmployeeListDAO" class="com.hrm.dao.EmployeeListDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="EmployeeInfoDAO" class="com.hrm.dao.EmployeeInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="WelfareParamDAO" class="com.hrm.dao.WelfareParamDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="HibernateSessionDAO" class="com.hrm.dao.HibernateSessionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="GoodsTypeDAO" class="com.hrm.dao.GoodsTypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="DayGoodsClearDAO"
		class="com.hrm.dao.DayGoodsClearDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ParamsListDAO" class="com.hrm.dao.ParamsListDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="GoodsOutputInfoDAO"
		class="com.hrm.dao.GoodsOutputInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StoreOutputInfoDAO"
		class="com.hrm.dao.StoreOutputInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ParamsTypeDAO" class="com.hrm.dao.ParamsTypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="GoodsListDAO" class="com.hrm.dao.GoodsListDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="GoodsOutputListDAO"
		class="com.hrm.dao.GoodsOutputListDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StoreOutputListDAO"
		class="com.hrm.dao.StoreOutputListDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="GoodsStatDAO" class="com.hrm.dao.GoodsStatDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StoreInputInfoDAO"
		class="com.hrm.dao.StoreInputInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StoreTypeDAO" class="com.hrm.dao.StoreTypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StoreInputListDAO"
		class="com.hrm.dao.StoreInputListDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StoreParamsInfoDAO"
		class="com.hrm.dao.StoreParamsInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StoreListDAO" class="com.hrm.dao.StoreListDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="GoodsMonthStatDAO"
		class="com.hrm.dao.GoodsMonthStatDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="OutUserListDAO" class="com.hrm.dao.OutUserListDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StoreGoodsClearDAO"
		class="com.hrm.dao.StoreGoodsClearDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="FootListDAO"
		class="com.hrm.dao.FootListDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="FootTypeDAO"
		class="com.hrm.dao.FootTypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="FootMaterialDAO"
		class="com.hrm.dao.FootMaterialDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="MaterialListDAO"
		class="com.hrm.dao.MaterialListDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="MaterialTypeDAO"
		class="com.hrm.dao.MaterialTypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>