<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  	http://www.springframework.org/schema/aop 
  	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
  	http://www.springframework.org/schema/tx 
  	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
  	http://www.springframework.org/schema/context 
  	http://www.springframework.org/schema/context/spring-context-3.0.xsd"
  	> 
	<bean id="queryUtil" class="com.hrm.query.QueryUtil">
		<property name="querylist">
			<map>
				<entry key="SQL-1">
					<value>
						<![CDATA[
							select b.typename,a.*,c.paramsname as materialname,d.paramsname as unitname,
							(ifnull((select sum(sl.sum) from order_material_store_list sl where sl.materialid=a.id and sl.updttime>='{0}' and sl.updttime<'{1}'),0)+ifnull((select initsum from material_store_list where storedate='{2}' and id=a.id),0)) as input,
							(ifnull((select sum(ool.goodsnumber*fm.amount) from order_output_list ool,foot_material fm where ool.consumetype='1' and ool.checkyn='1' and fm.footid=ool.goodsid and fm.materialid=a.id and ool.updttime>='{0}' and ool.updttime<'{1}' ),0)) as output,
							(ifnull((select sum(omsl.sum) from order_material_store_list omsl where omsl.materialid=a.id and omsl.updttime>='{0}' and omsl.updttime<'{1}'),0)
								+ifnull((select msl.initsum from material_store_list msl where msl.storedate='{2}' and msl.id=a.id),0)
								-(ifnull((select sum(ol.goodsnumber*fm.amount) from order_output_list ol,foot_material fm where ol.consumetype='1' and ol.checkyn='1' and fm.footid=ol.goodsid and fm.materialid=a.id and fm.issecond='0' and ol.updttime>='{0}' and ol.updttime<'{1}' ),0))
								-(ifnull((select sum(osml.sum) from order_second_material_list osml where osml.materialid=a.id and osml.updttime>='{0}' and osml.updttime<'{1}'),0))) as sum 
							from material_store_list a, material_type b,material_list c,params_list d   
							where a.typeid=b.id and a.id=c.id and c.unit=d.paramscode and d.typeid='UNIT' and c.typeid='{3}' and a.storedate='{4}'
						]]>
					</value>
				</entry>
				<entry key="SQL-2">
					<value>
						<![CDATA[
							select b.typename,a.*,c.paramsname as materialname,d.paramsname as unitname,c.cost as cost,
							ifnull((select sum(msl.initsum) from material_store_list msl where msl.id=a.id and msl.storedate='{2}'),0) as monthinit,
							(ifnull((select sum(sl.sum) from order_material_store_list sl where sl.materialid=a.id and sl.updttime>='{0}' and sl.updttime<'{1}'),0)) as input,
							(ifnull((select sum(ool.goodsnumber*fm.amount) from order_output_list ool,foot_material fm where ool.consumetype='1' and ool.checkyn='1' and fm.footid=ool.goodsid and fm.materialid=a.id and ool.updttime>='{0}' and ool.updttime<'{1}' and fm.issecond='0' ),0)+ifnull((select sum(osm.sum) from order_second_material_list osm where osm.materialid=a.id and osm.updttime>='{0}' and osm.updttime<'{1}'),0)) as output,
							((ifnull((select sum(ool.goodsnumber*fm.amount) from order_output_list ool,foot_material fm where ool.consumetype='1' and ool.checkyn='1' and fm.footid=ool.goodsid and fm.materialid=a.id and ool.updttime>='{0}' and ool.updttime<'{1}' and fm.issecond='0' ),0)+ifnull((select sum(osm.sum) from order_second_material_list osm where osm.materialid=a.id and osm.updttime>='{0}' and osm.updttime<'{1}'),0))*c.cost) as spend,
							(ifnull((select sum(omsl.sum) from order_material_store_list omsl where omsl.materialid=a.id and omsl.updttime>='{0}' and omsl.updttime<'{1}'),0)
								+ifnull((select msl.initsum from material_store_list msl where msl.storedate='{2}' and msl.id=a.id),0)
								-(ifnull((select sum(ol.goodsnumber*fm.amount) from order_output_list ol,foot_material fm where ol.consumetype='1' and ol.checkyn='1' and fm.footid=ol.goodsid and fm.materialid=a.id and fm.issecond='0' and ol.updttime>='{0}' and ol.updttime<'{1}' ),0))
								-(ifnull((select sum(osml.sum) from order_second_material_list osml where osml.materialid=a.id and osml.updttime>='{0}' and osml.updttime<'{1}'),0))) as sum,
							(ifnull((select sum(ool.goodsnumber*fm.amount) from order_output_back_list ool,foot_material fm where ool.goodsid=fm.footid and fm.materialid=a.id and ool.updttime>='{0}' and ool.updttime<'{1}' and fm.issecond='0'),0)+ifnull((select sum(osm.sum) from order_second_material_back_list osm where osm.materialid=a.id and osm.updttime>='{0}' and osm.updttime<'{1}' ),0)) as losssum,
							(ifnull((select sum(ool.goodsnumber*fm.amount) from order_output_back_list ool,foot_material fm where ool.goodsid=fm.footid and fm.materialid=a.id and ool.updttime>='{0}' and ool.updttime<'{1}' and fm.issecond='0'),0)+ifnull((select sum(osm.sum) from order_second_material_back_list osm where osm.materialid=a.id and osm.updttime>='{0}' and osm.updttime<'{1}'),0))*c.cost as losscostsum 
							from material_store_list a, material_type b,material_list c,params_list d   
							where a.typeid=b.id and a.id=c.id and c.unit=d.paramscode and d.typeid='UNIT' and a.storedate='{3}' {4}
						]]>
					</value>
				</entry>
				<entry key="SQL-3">
					<value>
						<![CDATA[
							select a.paramsname as footname,c.paramsname as materialname,c.cost as materialcost,d.paramsname as unitname,a.price as footprice, a.cost as footcost,
							ifnull((select sum(ool.goodsnumber) from order_output_list ool where ool.goodsid=a.id and ool.updttime>='{0}' and ool.updttime<'{1}'),0) as sellamount,
							ifnull((select sum(ool.actuallypay) from order_output_list ool where ool.goodsid=a.id and ool.updttime>='{0}' and ool.updttime<'{1}'),0) as sellpay,
							b.amount as materialamount,
							((ifnull((select sum(ool.goodsnumber) from order_output_list ool,foot_material fm where ool.goodsid=fm.footid and fm.materialid=b.materialid and fm.issecond='0' and ool.goodsid=a.id and ool.updttime>='{0}' and ool.updttime<'{1}'),0)*b.amount)+ifnull((select sum(osm.sum) from order_second_material_list osm where osm.materialid=b.materialid and osm.goodsid=a.id and osm.updttime>='{0}' and osm.updttime<'{1}'),0)) as materialsum,
							((ifnull((select sum(ool.goodsnumber) from order_output_list ool,foot_material fm where ool.goodsid=fm.footid and fm.materialid=b.materialid and fm.issecond='0' and ool.goodsid=a.id and ool.updttime>='{0}' and ool.updttime<'{1}'),0)*b.amount)+ifnull((select sum(osm.sum) from order_second_material_list osm where osm.materialid=b.materialid and osm.goodsid=a.id and osm.updttime>='{0}' and osm.updttime<'{1}'),0))*c.cost as materialcostsum,
							((ifnull((select sum(ool.goodsnumber) from order_output_back_list ool,foot_material fm where ool.goodsid=fm.footid and fm.materialid=b.materialid and fm.issecond='0' and ool.goodsid=a.id and ool.updttime>='{0}' and ool.updttime<'{1}'),0))+ifnull((select sum(osm.sum) from order_second_material_back_list osm where osm.materialid=b.materialid and osm.goodsid=a.id and osm.updttime>='{0}' and osm.updttime<'{1}'),0)) as lossamount,
							((ifnull((select sum(ool.goodsnumber) from order_output_back_list ool,foot_material fm where ool.goodsid=fm.footid and fm.materialid=b.materialid and fm.issecond='0' and ool.goodsid=a.id and ool.updttime>='{0}' and ool.updttime<'{1}'),0)*b.amount)+ifnull((select sum(osm.sum) from order_second_material_back_list osm where osm.materialid=b.materialid and osm.goodsid=a.id and osm.updttime>='{0}' and osm.updttime<'{1}'),0)) as lossmaterialsum,
							((ifnull((select sum(ool.goodsnumber) from order_output_back_list ool,foot_material fm where ool.goodsid=fm.footid and fm.materialid=b.materialid and fm.issecond='0' and ool.goodsid=a.id and ool.updttime>='{0}' and ool.updttime<'{1}'),0)*b.amount)+ifnull((select sum(osm.sum) from order_second_material_back_list osm where osm.materialid=b.materialid and osm.goodsid=a.id and osm.updttime>='{0}' and osm.updttime<'{1}'),0))*c.cost as lossmaterialcostsum,
							
							ifnull((select sum(msl.initsum) from material_store_list msl where msl.id=b.materialid and msl.storedate='{2}'),0) as monthinit,
							(ifnull((select sum(sl.sum) from order_material_store_list sl where sl.materialid=b.materialid and sl.updttime>='{0}' and sl.updttime<'{1}'),0)) as monthinput,
							ifnull((select sum(msl.initsum) from material_store_list msl where msl.id=b.materialid and msl.storedate='{3}'),0) as monthend,
							(ifnull((select sum(msl.initsum) from material_store_list msl where msl.id=b.materialid and msl.storedate='{2}'),0)
								+ifnull((select sum(sl.sum) from order_material_store_list sl where sl.materialid=b.materialid and sl.updttime>='{0}' and sl.updttime<'{1}'),0)
								-ifnull((select sum(ol.goodsnumber*fm.amount) from order_output_list ol,foot_material fm where ol.consumetype='1' and ol.checkyn='1' and fm.footid=ol.goodsid and fm.materialid=b.materialid and fm.issecond='0' and ol.updttime>='{0}' and ol.updttime<'{1}' ),0)
								-ifnull((select sum(osml.sum) from order_second_material_list osml where osml.materialid=b.materialid and osml.updttime>='{0}' and osml.updttime<'{1}'),0)) as monthshouldend
							from foot_list a,foot_material b,material_list c,params_list d 
							where a.id=b.footid and b.materialid=c.id and c.unit=d.paramscode and d.typeid='UNIT' {4} 
							order by a.paramsname
						]]>
					</value>
				</entry>
				<entry key="SQL-4">
					<value>
						<![CDATA[
							select new map(a.id as id, a.cardid as cardid, a.password as password,a.username as username,a.moblie as moblie,a.otherdesc as otherdesc,a.idcard as idcard,a.state as state,a.day as day,a.overtime as overtime,a.cash as cash,a.updtuser as updtuser,a.updttime as updttime,b.userName as updtusername,d.paramsname as statename) from KtvStayInfo a, UserInfo b,ParamsList d where a.state=d.paramscode and d.typeid='KTV_STATE' and a.updtuser=b.userId {0} {1} order by a.updttime desc
						]]>
					</value>
				</entry>
				<entry key="SQL-5">
					<value>
						<![CDATA[
							select a.id as id,a.typeid as typeid,a.paramsname as materialname,b.typename as typename,
							ifnull((select sum(ksl.count) from ktv_stay_list ksl,ktv_stay_info ksi where ksl.ktvid=ksi.id and (ksi.state='3' or ksi.state='5') and ksl.materialid=a.id),0) as count,
							ifnull((select sum(ksl.count) from ktv_stay_list ksl,ktv_stay_info ksi where ksl.ktvid=ksi.id and (ksi.state='1' ) and ksl.materialid=a.id),0) as savecount,
							ifnull((select sum(ksl.count) from ktv_stay_list ksl,ktv_stay_info ksi where ksl.ktvid=ksi.id and (ksi.state='2' ) and ksl.materialid=a.id),0) as takeoncount,
							ifnull((select sum(ksl.count) from ktv_stay_list ksl,ktv_stay_info ksi where ksl.ktvid=ksi.id and (ksi.state='4' ) and ksl.materialid=a.id),0) as takeovercount,
							(ifnull((select sum(ksl.count) from ktv_stay_list ksl,ktv_stay_info ksi where ksl.ktvid=ksi.id and (ksi.state='2' ) and ksl.materialid=a.id),0) + ifnull((select sum(ksl.count) from ktv_stay_list ksl,ktv_stay_info ksi where ksl.ktvid=ksi.id and (ksi.state='4' ) and ksl.materialid=a.id),0)) as takeallcount
							from material_list_ktv a, material_type_ktv b 
							where a.typeid=b.id {0}
						]]>
					</value>
				</entry>
				<!-- <entry key="SQL-x">
					<value>
						<![CDATA[
						]]>
					</value>
				</entry> -->
			</map>
		</property>
	</bean>
	
</beans>