#find-user { width: 25em; }
#main .bl-friend-table td .ui-input-search{
	width: 25.4em;
	float: left;
	margin-top: 2px;
}
#main .bl-friend-table td{
	vertical-align:middle;
	border-bottom:0px;
	padding:10px 20px;
}
#main .bl-friend-table{
	border-bottom: 1px solid #DDD;
}