body{
	margin: 0;padding: 0;
}
html,body{
	width: 100%; height: 100%;
}
div,p,span,li,ul,label,dd,dl{
	font-family: 'Microsoft Sans Serif';
}

.bg{
	position: relative; overflow: hidden; width: 100%; height: 100%; background: url("../images/box.png");
}
.box{
	width:102px; height:102px; position: absolute;background-color: rgba(0, 0, 0, .3);opacity:0;
}
.transition-transform{
	/* -webkit-transition-delay: 0;
	-webkit-transition-duration: .4s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: linear; */
}
/********cell start**********/
.cell.transform{
	/* -webkit-transition: all .1s linear; -webkit-transform-origin: right bottom; */
	-webkit-transform-style: rotate; -webkit-transform-x: 180deg;
}
.cell{
	border-radius: 5px; cursor: pointer;
}
.cell > .body{
	width:100%;height:100%; display: table-cell;vertical-align: bottom;
}
.cell > .body > span{
	position: absolute;padding:8px 10px; color:#D8D7D6;
}
.cell > .body > .title{
	bottom:0;left:0; font-size:12px;
}
.cell > .body > .hover{
	top: 0;left: 0;right:0; font-size: 40px; opacity: 0; color: #262626;
}
.cell > .body > .cover{
	position: absolute; z-index: 2;left:0;top:0;right:0;bottom:0;
}
/********cell end**********/