body{
	margin: 0;padding: 0;
}
html,body{
	width: 100%; height: 100%;
}
.bg{
	position: relative; overflow: hidden; width: 100%; height: 100%; background: url("../images/box.png");
}
.box{
	width:102px; height:102px; position: absolute;background-color: rgba(0, 0, 0, .3);opacity:0;
	/* -webkit-transition-delay: 0;
	-webkit-transition-duration: 1s;
	-webkit-transition-property: opacity;
	-webkit-transition-timing-function: ease-in-out; */
}
/********cell start**********/
.cell{
	border-radius: 5px; cursor: pointer;
}
.cell > .body{
	width:100%;height:100%; display: table-cell;vertical-align: bottom;
}
.cell > .body > .title{
	position: absolute;bottom: 5px;left: 5px; color:#D8D7D6; font-size:10px;
}
.cell > .body > .index{
	position: absolute;top: 5px;right: 5px; color:#D8D7D6; font-size: 32px;
}
/********cell end**********/