<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  	http://www.springframework.org/schema/aop 
  	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
  	http://www.springframework.org/schema/tx 
  	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
  	http://www.springframework.org/schema/context 
  	http://www.springframework.org/schema/context/spring-context-3.0.xsd"
  	> 
	<bean id="queryUtil" class="com.ux.util.QueryUtil">
		<property name="querylist">
			<map>
				<entry key="SQL1">
					<value>
						<![CDATA[
							select new map(a.id as id,a.articleid as articleid,a.userid as userid,a.commentuser as commentuser,a.comment as comment,a.receiver as receiver,a.approve as approve,a.oppose as oppose,a.currentDate as currentDate,(select b.username from UserInfo b where b.id=a.userid) as username,(select b.picture from UserInfo b where b.id=a.userid) as picture ) from CommentInfo a where a.articleid='{0}' order by a.currentDate desc
						]]>
					</value>
				</entry>
				<entry key="SQL2">
					<value>
						<![CDATA[
							select new map(a.id as id,a.userid as userid,a.type as type,c.typename as typename,a.title as title,a.picture as picture,a.text as text,a.tag as tag,a.love as love,a.brower as brower,a.firstDate as firstDate,a.currentDate as currentDate,b.email as email,b.username as username,b.sign as sign,b.job as job,b.intro as intro,b.phone as phone,b.picture as userpicture,(select count(*) from CommentInfo c where c.articleid=a.id) as commentsum) from ArticleInfo a,UserInfo b,ParamsType c where a.status='17' and c.typeid='2' and c.id=a.type and a.userid = b.id {0} order by a.firstDate desc
						]]>
					</value>
				</entry>
				<entry key="SQL3">
					<value>
						<![CDATA[
							select new map(id as id,typeid as typeid,typename as typename,typedesc as typedesc,updtuser as updtuser,updttime as updttime) from ParamsType where typeid='{0}'
						]]>
					</value>
				</entry>
				<entry key="SQL4">
					<value>
						<![CDATA[
							select new map(a.id as id,a.articleid as articleid,a.userid as userid,a.commentuser as commentuser,a.comment as comment,a.receiver as receiver,a.approve as approve,a.oppose as oppose,a.currentDate as currentDate,(select b.username from UserInfo b where b.id=a.userid) as username,(select b.picture from UserInfo b where b.id=a.userid) as picture ) from CommentInfo a,ArticleInfo b where a.articleid=b.id and b.status='17' order by a.currentDate desc
						]]>
					</value>
				</entry>
				<entry key="SQL5">
					<value>
						<![CDATA[
							select new map(count(*) as count, tagname as tagname, id as id, articleid as articleid) from TagInfo group by tagname order by count(*) desc
						]]>
					</value>
				</entry>
				<entry key="SQL6">
					<value>
						<![CDATA[
							select distinct new map(a.id as id,a.userid as userid,a.type as type,c.typename as typename,a.title as title,a.picture as picture,a.text as text,a.tag as tag,a.love as love,a.brower as brower,a.firstDate as firstDate,a.currentDate as currentDate,b.email as email,b.username as username,b.sign as sign,b.job as job,b.intro as intro,b.phone as phone,b.picture as userpicture,(select count(*) from CommentInfo c where c.articleid=a.id) as commentsum) from ArticleInfo a,UserInfo b,ParamsType c,TagInfo d where a.status='17' and a.id=d.articleid and c.typeid='2' and c.id=a.type and a.userid = b.id {0} order by a.firstDate desc
						]]>
					</value>
				</entry>
				<entry key="SQL7">
					<value>
						<![CDATA[
							select new map(a.id as id,a.type as type,a.status as status,c.typename as statusname,a.title as title,a.love as love,a.brower as brower,b.typename as typename,a.currentDate as currentDate,(select count(*) from CommentInfo c where c.articleid=a.id) as commentsum) from ArticleInfo a,ParamsType b,ParamsType c where a.type=b.id and a.status=c.id {0} order by a.firstDate desc
						]]>
					</value>
				</entry>
				<entry key="SQL8">
					<value>
						<![CDATA[
							select new map(a.id as id,a.type as type,a.title as title,a.love as love,a.brower as brower,b.typename as typename,a.status as status,a.currentDate as currentDate,(select count(*) from CommentInfo c where c.articleid=a.id) as commentsum,a.content as content,a.picture as picture) from ArticleInfo a,ParamsType b where a.status='17' and a.type=b.id {0} order by a.currentDate desc
						]]>
					</value>
				</entry>
				<entry key="SQL9">
					<value>
						<![CDATA[
							select new map(a.tagname as tagname, a.id as id, a.articleid as articleid) from TagInfo a where {0} order by a.id desc
						]]>
					</value>
				</entry>
				<entry key="SQL10">
					<value>
						<![CDATA[
							select new map(a.id as id,a.type as type,a.title as title,a.love as love,a.brower as brower,b.typename as typename,a.status as status,a.currentDate as currentDate,(select count(*) from CommentInfo c where c.articleid=a.id) as commentsum,a.content as content,a.picture as picture) from ArticleInfo a,ParamsType b where a.type=b.id {0} order by a.currentDate desc
						]]>
					</value>
				</entry>
				<!-- <entry key="SQL3">
					<value>
						<![CDATA[
						]]>
					</value>
				</entry> -->
			</map>
		</property>
	</bean>
	<bean id="importDataUtil" class="com.ux.util.ImportDataUtil" init-method="importData">
		<!-- 如果该属性为true,将删除所有数据, 重置初始化数据 -->
		<property name="isReset" value="false"/>
		<property name="paramsList">
			<list>
				<bean class="com.ux.entity.ParamsList">
					<property name="id" value="1" />
					<property name="typename" value="职业" />
					<property name="typedesc" value="用户职业" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsList">
					<property name="id" value="2" />
					<property name="typename" value="类型" />
					<property name="typedesc" value="文章类型" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsList">
					<property name="id" value="3" />
					<property name="typename" value="角色" />
					<property name="typedesc" value="用户角色" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsList">
					<property name="id" value="4" />
					<property name="typename" value="状态" />
					<property name="typedesc" value="文章状态" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
			</list>
		</property>
		<property name="paramsType">
			<list>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="1" />
					<property name="typeid" value="1" />
					<property name="typename" value="视觉设计师" />
					<property name="typedesc" value="前端设计师" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="2" />
					<property name="typeid" value="1" />
					<property name="typename" value="交互设计师" />
					<property name="typedesc" value="交互设计师" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="3" />
					<property name="typeid" value="1" />
					<property name="typename" value="前端开发工程师" />
					<property name="typedesc" value="前端开发工程师" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="4" />
					<property name="typeid" value="1" />
					<property name="typename" value="后台开发工程师" />
					<property name="typedesc" value="后台开发工程师" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="5" />
					<property name="typeid" value="2" />
					<property name="typename" value="视觉设计" />
					<property name="typedesc" value="视觉设计" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="6" />
					<property name="typeid" value="2" />
					<property name="typename" value="交互设计" />
					<property name="typedesc" value="交互设计" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="7" />
					<property name="typeid" value="2" />
					<property name="typename" value="前端开发" />
					<property name="typedesc" value="前端开发" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="8" />
					<property name="typeid" value="2" />
					<property name="typename" value="后台开发" />
					<property name="typedesc" value="后台开发" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="9" />
					<property name="typeid" value="3" />
					<property name="typename" value="超级管理员" />
					<property name="typedesc" value="超级管理员" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="10" />
					<property name="typeid" value="3" />
					<property name="typename" value="管理员" />
					<property name="typedesc" value="管理员" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="11" />
					<property name="typeid" value="3" />
					<property name="typename" value="钻石会员" />
					<property name="typedesc" value="钻石会员" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="12" />
					<property name="typeid" value="3" />
					<property name="typename" value="黄金会员" />
					<property name="typedesc" value="黄金会员" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="13" />
					<property name="typeid" value="3" />
					<property name="typename" value="白银会员" />
					<property name="typedesc" value="白银会员" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="14" />
					<property name="typeid" value="3" />
					<property name="typename" value="高级会员" />
					<property name="typedesc" value="高级会员" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="15" />
					<property name="typeid" value="3" />
					<property name="typename" value="普通会员" />
					<property name="typedesc" value="普通会员" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="16" />
					<property name="typeid" value="3" />
					<property name="typename" value="新手" />
					<property name="typedesc" value="新手" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="17" />
					<property name="typeid" value="4" />
					<property name="typename" value="公开" />
					<property name="typedesc" value="公开" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<!-- <bean class="com.ux.entity.ParamsType">
					<property name="id" value="18" />
					<property name="typeid" value="4" />
					<property name="typename" value="好友可见" />
					<property name="typedesc" value="好友可见" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean> -->
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="19" />
					<property name="typeid" value="4" />
					<property name="typename" value="私有" />
					<property name="typedesc" value="私有" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="20" />
					<property name="typeid" value="4" />
					<property name="typename" value="草稿" />
					<property name="typedesc" value="草稿" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
				<bean class="com.ux.entity.ParamsType">
					<property name="id" value="21" />
					<property name="typeid" value="4" />
					<property name="typename" value="回收站" />
					<property name="typedesc" value="回收站" />
					<property name="updtuser" value="system" />
					<property name="updttime" ref="currentDate" />
				</bean>
			</list>
		</property>
	</bean>
	<bean name="currentDate" class="java.util.Date"/>
</beans>