a{
	color: #3366CC;
}
.link{
	text-decoration: none;
	color: #8692A2;
}
.link:HOVER{
	color:#336699;
}
.body{
	width:100%;
	/* height:700px; */
	padding: 15px 0;
}
.title{
	font-size: 15px;
	line-height:20px;
}
.bold{
	font-weight: bold;
}
.triangle{
	background:url("../img/hp_pbar.png");
	width:6px;
	height:9px;
}
.default-msg{ 
	color:#9A9A9A;
}
.float-left, .float{
	float:left;
}
.float-right{
	float:right;
}
.frame{
	background-color:#FBFBFB;
	border: 1px solid #EEEEEE;
}