.body{
	width:100%;
	height:700px;
	padding: 15px 0;
}
.title{
	font-size: 15px;
}
.bold{
	font-weight: bold;
}
.triangle{
	background:url("../img/hp_pbar.png");
	width:6px;
	height:9px;
}
.defineMsg{
	color:#9A9A9A;
}