<link type="text/css" rel="stylesheet" href="modules/css/friend.css" media="screen" />
<script type="text/javascript" src="modules/script/friend.js"></script> 
<div class="body">
	<div id="friend-tabs" style="margin-top:20px;">
		<ul>
			<li><a href="#tabs-1">我的好友</a></li>
			<li><a href="modules/view/friend/friend-search.html">查找朋友</a></li>
			<li><a href="modules/view/friend/friend-invite.html">邀请朋友</a></li>
		</ul>
		<div id="tabs-1">
			<div class="float" style="width: 168px;">
				<input type="text" id="search_friend" defaultMsg="查找朋友"/>
				<div class="frame-content-bottom bl-friend-link selected" style="margin-top: 10px;">
					<a href="#" >全部好友</a><span>29</span> <div class="clear"></div>
				</div>
				<div class="frame-content-bottom bl-friend-link">
					<a href="#">现在同事</a><span>0</span> <div class="clear"></div>
				</div>
				<div class="frame-content-bottom bl-friend-link">
					<a href="#">以前同事</a><span>0</span> <div class="clear"></div>
				</div>
				<div class="frame-content-bottom bl-friend-link">
					<a href="#">大学同学</a><span>0</span> <div class="clear"></div>
				</div>
				<div class="frame-content-bottom bl-friend-link">
					<a href="#">高中同学</a><span>0</span> <div class="clear"></div>
				</div>
				<div class="frame-content-bottom bl-friend-link">
					<a href="#">家人亲戚</a><span>0</span> <div class="clear"></div>
				</div>
				<div class="frame-content-bottom bl-friend-link">
					<a href="#">挚交好友</a><span>0</span> <div class="clear"></div>
				</div>
				<div class="frame-content-bottom bl-friend-link">
					<a href="#">普通朋友</a><span>0</span> <div class="clear"></div>
				</div>
				<div class="frame-content-bottom bl-friend-link">
					<a href="#">朋友的朋友</a><span>0</span> <div class="clear"></div>
				</div>
				<div class="frame-content-bottom bl-friend-link">
					<a href="#">其他</a><span>0</span> <div class="clear"></div>
				</div>
				<div class="frame-content-bottom bl-friend-link">
					<a href="#">未分组好友</a><span>0</span> <div class="clear"></div>
				</div>
			</div>
			<div class="float" style="margin-left: 35px;position: relative;" id="friend-list">
				<div class="frame-content-bottom" >
					<div class="bl-friend-min-head float"><img src="stylesheet/img/120_0_0.gif"></div>
					<div class="bl-friend-type-list float">
						<a href="#" class="float" >官瑞林</a>
						<a href="#" class="close float-right" style="margin-top:6px;"></a>
						<a href="#" class="float-right link-none combobox-frame" style="margin-right: 10px;">修改分组</a>
						<!-- div class="combobox-list" position="right">
							<div class="combobox-title" style="color:black;">修改分组</div>
							<div class="combobox-content">
								<a href="#">现在同事</a>
								<a href="#">现在同事</a>
								<a class="selected" href="#">现在同事</a>
								<a href="#">现在同事</a>
								<a href="#">现在同事</a>
								<a href="#">现在同事</a>
								<a href="#">现在同事</a>
								<a href="#">现在同事</a>
								<a href="#">现在同事</a>
							</div>
							<div style="clear: both;float: none;"></div>
						</div> -->
					</div>
					<div class="clear"></div>
				</div>
				<div class="frame-content-bottom" >
					<div class="bl-friend-min-head float"><img src="stylesheet/img/120_0_0.gif"></div>
					<div class="bl-friend-type-list float">
						<a href="#" class="float" >官瑞林</a>
						<a href="#" class="close float-right" style="margin-top:6px;"></a>
						<a href="#" class="float-right link-none combobox-frame" style="margin-right: 10px;">修改分组</a>
					</div>
					<div class="clear"></div>
				</div>
				<div class="frame-content-bottom" >
					<div class="bl-friend-min-head float"><img src="stylesheet/img/120_0_0.gif"></div>
					<div class="bl-friend-type-list float">
						<a href="#" class="float" >官瑞林</a>
						<a href="#" class="close float-right" style="margin-top:6px;"></a>
						<a href="#" class="float-right link-none combobox-frame" style="margin-right: 10px;">修改分组</a>
					</div>
					<div class="clear"></div>
				</div>
				<div class="frame-content-bottom" >
					<div class="bl-friend-min-head float"><img src="stylesheet/img/120_0_0.gif"></div>
					<div class="bl-friend-type-list float">
						<a href="#" class="float" >官瑞林</a>
						<a href="#" class="close float-right" style="margin-top:6px;"></a>
						<a href="#" class="float-right link-none combobox-frame" style="margin-right: 10px;">修改分组</a>
					</div>
					<div class="clear"></div>
				</div>
				<div class="frame-content-bottom" >
					<div class="bl-friend-min-head float"><img src="stylesheet/img/120_0_0.gif"></div>
					<div class="bl-friend-type-list float">
						<a href="#" class="float" >官瑞林</a>
						<a href="#" class="close float-right" style="margin-top:6px;"></a>
						<a href="#" class="float-right link-none combobox-frame" style="margin-right: 10px;">修改分组</a>
					</div>
					<div class="clear"></div>
				</div>
				<div class="frame-content-bottom" >
					<div class="bl-friend-min-head float"><img src="stylesheet/img/120_0_0.gif"></div>
					<div class="bl-friend-type-list float">
						<a href="#" class="float" >官瑞林</a>
						<a href="#" class="close float-right" style="margin-top:6px;"></a>
						<a href="#" class="float-right link-none combobox-frame" style="margin-right: 10px;">修改分组</a>
					</div>
					<div class="clear"></div>
				</div>
				<div class="frame-content-bottom" >
					<div class="bl-friend-min-head float"><img src="stylesheet/img/120_0_0.gif"></div>
					<div class="bl-friend-type-list float">
						<a href="#" class="float" >官瑞林</a>
						<a href="#" class="close float-right" style="margin-top:6px;"></a>
						<a href="#" class="float-right link-none combobox-frame" style="margin-right: 10px;">修改分组</a>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>