.bl-phote-frame{
	padding:5px;float: left;border: 1px solid #AAA;margin: 6px;position: relative;overflow: hidden; 
}
.bl-phote-frame-item{
	padding:4px 13px;
}
.bl-phote-frame-item-select{
	background-color:lightyellow;
}
.bl-phote-title{
	cursor: pointer;
}
.bl-phote-list-frame{
	margin-top : 20px;padding : 20px 0;border-top: 1px solid #F3F3F3;border-bottom: 1px solid #F3F3F3;background-color: #FBFBFB; 
}
.bl-phote-upload-frame{
	/* border: 1px solid #A6C9E2; */padding:7px 13px;
}
.bl-phote-upload-item{
	border: 1px solid #A6C9E2;padding:5px;width : 100px;height:100px;margin:3px;position: relative;
} 
.bl-phote-loading{
	background-position: center center;background-repeat: no-repeat;width : 100px;height:85px;text-align: center;vertical-align: bottom;display: table-cell;
}
.bl-phote-loading-progress{
	font-weight: bold;
}
.bl-phote-frame-choice{
	position: absolute;width:100px;height:20px;background-color: rgba(0, 0, 0, 0.496094);margin-top: -25px;
}
.bl-phote-frame-choice > div{
	background-color:black;opacity:.5;width:100px;height:20px;position: absolute;z-index: 1;
}
.bl-phote-frame-edit{
	background-position: -120px -40px;width:20px; height:20px;display:block;left: 0;position: absolute;z-index: 2;
}
.bl-phote-frame-edit:hover{
	background-position: -80px -120px;
}

.bl-phote-frame-delete{
	background-position: -400px -160px;width:20px; height:20px;display:block;right:0;position: absolute;z-index: 2;
}
.bl-phote-frame-delete:hover{
	background-position: -320px -360px;
}