<link type="text/css" rel="stylesheet" href="modules/css/picture/picture-manager.css?v=20110303" media="screen" /> 
<link type="text/css" rel="stylesheet" href="lib/plugin/yoxview/yoxview.css" media="screen" />
<script type="text/javascript" src="lib/plugin/yoxview/jquery.yoxview.min.js"></script> 
<script type="text/javascript" src="modules/script/picture/picture-manager.js"></script> 
<div style="padding-bottom:50px;">
	<div id="photo-dialog-add" title="<span style='padding:3px 0;float:left;'>上传照片</span>" style="padding:1em 1em;">
		<table class="bl-picture-create">
			<!-- tr>
				<td style="width:100px;">&nbsp;&nbsp;图片描述:</td><td><input type="text" id="phototitle" maxlength=24 style="width:611px;" class="ui-input" value="官家部落格的图片秀秀"/></td>
			</tr> -->
			<tr>
				<td width="100px" style="width: 100px;">&nbsp;&nbsp;提交上传:</td>
				<td width="670px" style="width: 670px;">
					<div class="flash" id="fsUploadProgress" style="display:none;"></div>
					<div style="padding-left: 5px;">
						<span id="spanButtonPlaceholder"></span> <input id="btnCancel"
							type="button" value="取消" onclick="cancelQueue(upload);"
							disabled="disabled"
							style="margin-left: 2px; height: 22px; font-size: 8pt;display: none;" />
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="bl-phote-upload-frame">
						<div class="bl-phote-upload-item float" upload="0">
							<div class="bl-phote-loading loading" style="display:none;">
								<span class="bl-phote-loading-progress">0%</span>
							</div>
							<div class="bl-phote-show" style="display:none;">
							</div>
						</div>
						<div class="bl-phote-upload-item float" upload="0">
							<div class="bl-phote-loading loading" style="display:none;">
								<span class="bl-phote-loading-progress">0%</span>
							</div>
							<div class="bl-phote-show" style="display:none;">
							</div>
						</div>
						<div class="bl-phote-upload-item float" upload="0">
							<div class="bl-phote-loading loading" style="display:none;">
								<span class="bl-phote-loading-progress">0%</span>
							</div>
							<div class="bl-phote-show" style="display:none;">
							</div>
						</div>
							
						<div class="bl-phote-upload-item float" upload="0">
							<div class="bl-phote-loading loading" style="display:none;">
								<span class="bl-phote-loading-progress">0%</span>
							</div>
							<div class="bl-phote-show" style="display:none;">
							</div>
						</div>
						<div class="bl-phote-upload-item float" upload="0">
							<div class="bl-phote-loading loading" style="display:none;">
								<span class="bl-phote-loading-progress">0%</span>
							</div>
							<div class="bl-phote-show" style="display:none;">
							</div>
						</div>
						<div class="bl-phote-upload-item float" upload="0">
							<div class="bl-phote-loading loading" style="display:none;">
								<span class="bl-phote-loading-progress">0%</span>
							</div>
							<div class="bl-phote-show" style="display:none;">
							</div>
						</div>
						<div class="bl-phote-upload-item float" upload="0">
							<div class="bl-phote-loading loading" style="display:none;">
								<span class="bl-phote-loading-progress">0%</span>
							</div>
							<div class="bl-phote-show" style="display:none;">
							</div>
						</div>
						<div class="bl-phote-upload-item float" upload="0">
							<div class="bl-phote-loading loading" style="display:none;">
								<span class="bl-phote-loading-progress">0%</span>
							</div>
							<div class="bl-phote-show" style="display:none;">
							</div>
						</div>
						<div class="bl-phote-upload-item float" upload="0">
							<div class="bl-phote-loading loading" style="display:none;">
								<span class="bl-phote-loading-progress">0%</span>
							</div>
							<div class="bl-phote-show" style="display:none;">
							</div>
						</div>
						<div class="bl-phote-upload-item float" upload="0">
							<div class="bl-phote-loading loading" style="display:none;">
								<span class="bl-phote-loading-progress">0%</span>
							</div>
							<div class="bl-phote-show" style="display:none;">
							</div>
						</div>
						<div class="bl-phote-upload-item float" upload="0">
							<div class="bl-phote-loading loading" style="display:none;">
								<span class="bl-phote-loading-progress">0%</span>
							</div>
							<div class="bl-phote-show" style="display:none;">
							</div>
						</div>
						<div class="bl-phote-upload-item float" upload="0">
							<div class="bl-phote-loading loading" style="display:none;">
								<span class="bl-phote-loading-progress">0%</span>
							</div>
							<div class="bl-phote-show" style="display:none;">
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</td>
			</tr>
		</table>
		
	</div>
	<div>
		<a class="bl-picture-icon bl-picture-icon-select" href="#" id="phote-create"><span class="icon" style="background-position: -40px -40px;display:inline-block;"></span><span>上传照片</span></a>
		<span class="bl-picture-split">|</span>
		<a class="bl-picture-icon" href="#" id="phote-edit"><span class="icon" style="background-position: -40px -100px;display:inline-block;"></span><span>编辑照片</span></a>
		<span class="bl-picture-split">|</span>
		<a class="bl-picture-icon" href="#" id="phote-delete"><span class="icon" style="background-position: -40px 0;display:inline-block;"></span><span>删除照片</span></a>
		<span class="bl-picture-split">|</span>
		<a class="bl-picture-icon" href="#" id="phote-sort"><span class="icon" style="background-position: -280px -40px;display:inline-block;"></span><span>照片排序</span></a>
		<span class="bl-picture-split">|</span>
		<a class="bl-picture-icon" href="#"><span class="icon" style="background-position: -400px -160px;display:inline-block;"></span><span>回收站</span></a>
	</div>
	<div id="phote-foot">
		<div class="bl-picture-sort" id="phote-sort-drag" style="padding:15px;">
			<!-- <div class="float">对相框点击鼠标进行拖动, 拖动完成后点击保存按钮进行保存!</div> -->
		</div>
	
		<div id="phote-item-list" class="yoxview bl-phote-list-frame">
		    <!-- <div class="bl-phote-frame"><a href="upload/picture/a36f0420-81aa-490d-8fe8-04e3ba48b78a.png"><img src="upload/picture/a36f0420-81aa-490d-8fe8-04e3ba48b78a.png" style="width:100px;height:100px;" alt="First" title="First image" /></a></div>
		    <div class="bl-phote-frame"><a href="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg"><img src="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg" style="width:100px;height:100px;" alt="Second" title="Second image" /></a></div>
		    <div class="bl-phote-frame"><a href="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg"><img src="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg" style="width:100px;height:100px;" alt="Second" title="Second image" /></a></div>
		    <div class="bl-phote-frame"><a href="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg"><img src="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg" style="width:100px;height:100px;" alt="Second" title="Second image" /></a></div>
		    <div class="bl-phote-frame"><a href="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg"><img src="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg" style="width:100px;height:100px;" alt="Second" title="Second image" /></a></div>
		    <div class="bl-phote-frame"><a href="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg"><img src="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg" style="width:100px;height:100px;" alt="Second" title="Second image" /></a></div>
		    <div class="bl-phote-frame"><a href="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg"><img src="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg" style="width:100px;height:100px;" alt="Second" title="Second image" /></a></div>
		    <div class="bl-phote-frame"><a href="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg"><img src="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg" style="width:100px;height:100px;" alt="Second" title="Second image" /></a></div>
		    <div class="bl-phote-frame"><a href="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg"><img src="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg" style="width:100px;height:100px;" alt="Second" title="Second image" /></a></div>
		    <div class="bl-phote-frame"><a href="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg"><img src="upload/picture/c434d9b3-6764-4cba-8299-5f26eccf861b.jpg" style="width:100px;height:100px;" alt="Second" title="Second image" /></a></div> -->
		</div>
		<!-- <div class="common-page-foot">
			<div class="float" >
				<div class="float">创建日期:</div><div class="float">2010年11月23日</div>
			</div>
			<div class="float-right">
				<span class="common-page-frist">首页</span>
				<span class="common-page-previous">上一页</span>
				<span class="common-page-no">1</span>
				<span class="common-page-no select">2</span>
				<span class="common-page-no">3</span>
				<span class="common-page-no">4</span>
				<span class="common-page-no">5</span>
				<span class="common-page-no">6</span>
				<span class="common-page-next">下一页</span>
				<span class="common-page-end">末页</span>
			</div>
		</div> -->
	</div>
</div>