<link type="text/css" rel="stylesheet" href="modules/css/userinfo/userinfo-friend.css" media="screen" />
<script type="text/javascript" src="modules/script/userinfo/userinfo-friend.js"></script> 
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">王木杉</a>&nbsp;<span>发表了1篇日记</span></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">王木杉</a>&nbsp;<span>发表了1篇日记</span></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">王木杉</a>&nbsp;<span>发表了1篇日记</span></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">王木杉</a>&nbsp;<span>发表了1篇日记</span></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">王木杉</a>&nbsp;<span>发表了1篇日记</span></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">王木杉</a>&nbsp;<span>发表了1篇日记</span></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">王木杉</a>&nbsp;<span>发表了1篇日记</span></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">王木杉</a>&nbsp;<span>发表了1篇日记</span></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">王木杉</a>&nbsp;<span>发表了1篇日记</span></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>
<div class="frame-content-bottom">
	<div class="bl-userinfo-content-row"><a href="#">王木杉</a>&nbsp;<span>发表了1篇日记</span></div>
	<div class="bl-userinfo-content-row grey"><span>今天 08:03</span></div>
</div>